.titleHead{
	background-color: #395691;
	color: white;
	height: 75px;
	vertical-align: middle;
	float: left; 
	width: 100%;
	box-shadow: 10px 10px 5px #000000;
}

h1{
	text-align: center;
	text-shadow: 2px 2px #000000;	
}